
html {
  --main-theme-color: #DFD3C3;
  --dark-red-color: #9A4444;
  --light-brown-color: #A28B55;
  --main-text-color: rgb(152, 43, 28);
  --navbar-button-hover-color: rgb(152, 43, 28);
  --title-grad-color: #B5C18E;
  --title-card-color: #A67B5B;
  --dark-background-color: #000;
  --dark-brown-background: #543310;
  --light-text-color: #FFF;
  --online-courses-sgn-btn: rgba(255, 255, 248, 0.3);
  --nslet-btn-background: #674636;
  --nslet-btn-border: #674636;
  --nslet-btn-focus: #F2F1EB;
  --nslet-input-background: #F5F5F7;
  --footer-cnt-text-color: #DFD3C3;
  --footer-background-one: #76453B;
  
 font-family: "Work sans", sans-serif;
scroll-behavior: smooth;

}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-theme-color);
  margin: 0;
  line-height: 1.5;

}

p {
  font-size: 1rem;
  font-weight: 600;
  
}


header {
  margin-bottom: 20px;
}

.section-title {
  font-size: 2.3rem;
  color: var(--main-text-color);
  text-transform: uppercase;
}



.section-title span {
  background-image: linear-gradient(transparent, var(--title-grad-color)); 
}

.navbar-main-container {
  width: 100%;
}

.column-container-XXL {
  width: 100%;
  max-width: 1372px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex; 
  flex-flow: row wrap;
}

.navbar-section .justify-content {
  justify-content: center;

}

.justify-content {
  justify-content: center;
}


.navbar-main-container {
  display: flex;
  justify-content: space-between;
}


.logo {
  font-size: 30px;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  align-content: center;
  color: var(--main-text-color);
  border: 1.5px solid var(--main-text-color);
  padding: 0px 10px;
 
}



.navbar-list-container li a  {
  text-decoration: none;
  color: var(--main-text-color);
}

.navbar-list-container li span {
  padding: 10px 17px;
  font-size: .875rem; 
  letter-spacing: 0.7px;
}

.navbar-list-container li:hover  {
  background-color: var(--navbar-button-hover-color);
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.085s;
  transition: color 0.085s;
  border: none;
}

.navbar-list-container li:hover a span {
  color: var(--main-theme-color); 
  border: none;
}

.navbar-list-container li a:hover {
  border-radius: 24px;  
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  font-weight: 600;
}


.navbar-list a:visited {
  text-decoration: none;
}


.footer-mail-link {
  text-decoration: none;
}



.navbar-collapse-container {
  display: none;
  font-size: 2.1rem;
  color: var(--main-text-color);
  
}


.main-section {
  margin-top: calc(1rem + 5vw);

}

.main-sect-left-cont, 
.main-sect-right-cont {
  width: 100%;
  min-width: 200px;

}

.main-sect-left-cont {
  min-height: 300px;
  position: relative;
}



.main-sect-photo  {
  border: 2px solid black;
  object-fit: cover;
}


.main-sect-photo.photo1 {
  width: 20% ;
  margin: auto 0;
  position: absolute;
  top: 25%;
  right: 70%;
  z-index: 1;
  height: 50%
    
}

.main-sect-photo.photo2 {
  width: 50%;
  
  position: absolute; 
  left: 25%;
  top: 0%;
  height: 100%;
  z-index: 0;
  
}

.main-sect-photo.photo3 {
  position: absolute; 
  object-fit: cover;
  top: 25%;
  right: 13%;
  width: 20%;
  z-index: 1;
  height: 50%;
  
}

.main-sect-right-cont {
  margin-bottom: 50px;
}

.main-sect-right-cont .section-title {
  text-align: center;
  margin-bottom: 2rem;
  
}

.section_1-text-container {
  margin-bottom: 50px;
}

.section_1-classes-button {
  border: 2px solid black;
  padding: 15px 20px;
  display: block;
  cursor: pointer;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 160px;
  
}


.section_1-classes-button a:visited {
  color: var(--dark-background-color);
}

.section_1-classes-button a:active {
  color: white;
}

.section_2 .section-title {
  margin-bottom: 2rem;
}


.main-section.section_3 {
  background-color: var(--light-brown-color);
}

.lesson-type {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.ls-tp-card {
  text-align: center;
  width: 250px;
  margin-bottom: 3rem;
}

.ls-card-img {
  width: 246px;
  height: 246px;
  object-fit: cover;
  border: 2px solid black;  
}

.ls-card-img img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.ls-card-title h4 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: var(--title-card-color);
  
}

.ls-card-text p, 
.newsletter-text p {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.ls-card-btn {
  font-weight: 600; 
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
}


.section_3 .column-container-XXL {
  max-width: none;
  width: 100%;
  padding-left: 0; 
  padding-right: 0;
}

.title-bar {
  background-color: var(--dark-brown-background);
  opacity: 0.8;
  color: var(--light-text-color);
  height: 60px;
  width: 100%;
  align-content: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0.5rem;
}

 .title-bar p {
    word-spacing: 5px;
    display: inline-block;
    font-weight: 300;
    font-size: .85rem;
  }

.online-courses-container {
  width: 100%;  
  height: 100%;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5rem 0;
  position: relative;
}

.online-courses-container::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-image: url("https://i.ibb.co/r263kdw/pexels-rethaferguson-3059750.jpg");
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
}

.online-courses-text, 
.online-courses-title,
.online-courses-btn {
  margin: 0 auto;
  position: relative;
  
}

.online-courses-text {
  text-transform: uppercase;
  font-size: 2.9vw;
  display: inline-block;
  margin-bottom: 0.8rem;
  
}

.online-courses-title {
  font-size: 6vw;
  margin-bottom: 1.3rem;
  
}

.online-courses-btn {
  border: 1px solid var(--light-text-color);
  padding: 8px 20px;
  font-size: 3vw;
}

.online-courses-btn:hover {
  background-color: var(--online-courses-sgn-btn); 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  
}

.section_4 {
  margin-bottom: calc(1rem + 5vw);
}

.newsletter-container {
 display: flex;
 flex-flow: column wrap;
 text-align: center;
 align-items: center;
}

.section_4 .section-title {
  font-size: 1.3rem;
  margin: 0 auto 1rem;
  
} 

.newsletter-text {
  width: 100%;
  margin-bottom: 1rem;
 
}

.newsletter-text p {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.newsletter-form-container { 

  display: flex; 
  flex-flow: column wrap;
  width: 75vw;
  max-width: 17rem;
  gap: 0.2rem;
  text-wrap: nowrap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  

}

input[type=text],
input[type=email] {
  padding: 0.5rem 0.4rem 0.5rem 0.4rem;
  border: 1px solid var(--nslet-btn-border);
  width: 100%;
  min-width: 0;
}

input[type=text]:focus, 
input[type=email]:focus {
  background-color: var(--nslet-input-background);
  outline: outset;
  outline-width: thin;
  outline-color: var(--nslet-btn-border);
  
  
}

.newsletter-btn {
  background-color: var(--nslet-btn-background);
  color: var(--main-theme-color);
  font-weight: 600;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-color: var(--nslet-btn-border);
  border-radius: 2px;
  border-width: 2px;
  transition: all 0.2s 40ms ease-in-out;
  transition-property: background-color, color;

}

.newsletter-btn:hover {
  color: var(--nslet-btn-border);
  background-color: var(--main-theme-color);
  border: 2px solid var(--nslet-btn-border);
  box-sizing: content-box;
 }

 .newsletter-btn:active {
  opacity: 0.5;
  }

footer {
  background: var(--dark-brown-background);
  background: linear-gradient(270deg, rgba(84,51,16,1) 25%, rgba(177,148,112,1) 100%);
  text-align: center;
  
}


footer .row1 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 4rem 0;
}

.footer-left-column {
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  margin-bottom: 2rem;
  
}

.footer-right-column {
  width: 100%;
  max-width: 20rem;
}


.footer-shortcuts {
  width: 30%;
  min-width: 14rem;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
}

.footer-list:hover {
  cursor: pointer; 
}

.footer-list a {
  text-decoration: none;
  color: var(--main-theme-color);
}
.footer-list a:active {
  text-decoration: none;
  color: var(--dark-brown-background);
}

.footer-list li {
  margin-bottom: 0.7rem;
}

.footer-logo {
  border: 1px solid var(--main-theme-color);
  color: var(--main-theme-color);
  padding: 1rem 1rem;
  max-width: 14rem;
  margin-bottom: 0rem;
  
}

.footer-logo:hover {
  cursor: pointer;
}

.footer-logo__link {
  text-decoration: none;
}

.footer-contact-container {
  width: 100%;
  color: var(--footer-cnt-text-color);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  box-sizing: border-box;

}

.footer-phone-cnt {
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-phone-cnt a {
  color: var(--light-text-color);
  text-decoration: none;
}

.footer-phn-number, 
.footer-mail-link {
  padding-left: 1rem;
  color: var(--footer-cnt-text-color);
  
  
}

.footer-mail-cnt {
  display: flex;
  justify-content: center;
}

.cnt-container {
  margin-bottom: 1rem;
}


.footer-socmedia-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--dark-brown-background);
  margin-top: 2.5rem;
  
}

.footer-socmedia-container a:active {
  text-decoration: none;
}

.footer .fa-brands a {
  text-decoration: none;
}


.footer .fa-brands {
  width: 48px; 
  height: 48px;
  background-color: var(--main-theme-color);
  color: var(--dark-brown-background);
  border-radius: 48px;
  align-content: center;
  transition: transform 0.2s ease-in-out 0.08s;
  
}

.footer .fa-brands:hover {
  opacity: 0.9;
  transform: translatey(-15px);
}


hr {
  margin: 0;
}

.row2 {
  display: flex;
  justify-content: center;
}

.priv-container p {
  font-size: 0.7rem;
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
}

.priv-container p::before {
  content: '\00A9 ';
}

#color_change_btn {
  background-color: #2C3E50;
}

/*MEDIA QUERIES*/

@media (width < 400px) {
  .header_logo {
    display: none;
  }

}

@media (width > 400px) {
    header {
      margin-top: 10px;
      margin-bottom: 20px;
  
    }

  .navbar-section .justify-content {
    justify-content: space-between;

  }  
  
  .newsletter-text {
    width: 70%;
  }
  
  .footer-socmedia-container {
    column-gap: 2.5rem;
    display: flex;
  
  }
}

@media (width < 600px) {
  .navbar-section .justify-content {
    padding: 0 1.5rem; 
    transition: padding 1s 0s;  
  }
   .navbar-list {
    display: none;
  } 
   .navbar-collapse-container {
      display: block;
      min-height: 70px;
      align-content: center;
      justify-content: center;
      transition: justify-content 1s 1s;
      
  }
  
  .navbar-collapse-container a {
    color: var(--main-text-color);
  }
 
}

@media (width > 600px) {

  
    .section_2 .section-title {
      margin-bottom: 3rem;
    }
  
  .section_4 .section-title {
    font-size: 1.4rem;
  }
  
    .online-courses-text,
    .online-courses-btn {
    font-size: 2.5vw;
    
   }
  
  .online-courses-text {
    margin-bottom: 1rem;
  }
    .online-courses-title {
      font-size: 5vw;
      margin-bottom: 1.4rem;
    }
  .online-courses-container {
    padding: 10rem 0;
  }
}

@media (width >= 768px) {

  .navbar-list-container li {
    padding: 10px 10px;

  }

  .navbar-list-container li span {
    font-size: 1rem; 
  }

  

  .column-container-XXL {
    padding-right: 2.75rem;
    padding-left: 2.75rem;
    
  }
  
  .lesson-type {
  width: 100%;
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
}
  
  .section_2 .section-title {
     margin-bottom: 4rem;
  }
  
  .section_4 .section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  
  .title-bar p {
    word-spacing: 15px;
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;

  }
 
  .online-courses-container {
    padding: 12rem 0;
  }
  
  .newsletter-form-container   { 
    width: 90%;
    min-width: 80%;
    flex-flow: row nowrap;
    justify-content: center;    
  }
  
  footer .row1 {
    padding: 6rem 0;
  }
  
  .footer-left-column {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  
  .footer-shortcuts {
    font-size: 1.1rem;
    margin-top: 0;
  }
  
  .footer-right-column {
    padding-top: 1rem;
  }
  
  .footer-phone-cnt, 
  .footer-mail-cnt {
    font-size: 1.1rem;
 
  }
}

@media (width < 1024px) {
  .section_1 .justify-content {
    flex-flow: column-reverse wrap;
    align-items: center;
  }
  .section-title {
  font-size: calc(1.5vw + 1rem);
}
}

@media ( 768px <= width < 1024px) {
  .column-container-XXL {
    padding: 0 2.75rem;
  }
  .main-sect-left-cont, 
  .main-sect-right-cont {
    width: 80%;
    height: 100%;
  }
  
    .online-courses-text {
    font-size: 2vw;
  }
  
  .online-courses-title {
    font-size: 4vw;
  }
}

@media (width >= 1024px) {
  .main-sect-left-cont, 
  .main-sect-right-cont {
    width: 50%;
    padding: 20px 0;
  }
  
  .main-sect-left-cont {
    min-height: 400px;
  }

  .main-section.section_1 {
     margin-top: calc(1rem + 10vw);
  }
  .main-sect-right-cont   {
    text-align: left;
  }
  .section_1-classes-button {
    margin-right: auto;
    margin-left: 0px;
  }
  
  .main-sect-right-cont .section-title {
    text-align: left;
  }
  .section_2 .section-title {
     margin-bottom: 5rem;
  }
  
    .online-courses-text {
    font-size: 1.2rem;
  }
  
  .online-courses-title {
    font-size: 2.8rem;
    
  }
  
  .online-courses-btn {
    font-size: 1rem;
  }
  
  .footer .row1 {
    justify-content: space-between;
  }
  
  .footer-left-column {
    width: 65%;
    justify-content: space-between ;
    padding-right: 6.5rem;
    margin-bottom: 0;
   }
  
  .footer-right-column {
    width: 35%;
  }
  
  .cnt-container {
    justify-content: left;
  }
  
}

@media (width >= 1200px) {

  .lesson-type {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .online-courses-container {
    padding: 15rem 0;
  }
  
  .footer-left-column {
    padding-right: 10vw;
  }
  
  .footer-shortcuts {
    font-size: 1.1rem;
  }
  

}

@media (width >= 1400px) {
  
  .online-courses-container {
    padding: 19rem 0;
  }
      .online-courses-text {
        font-size: 1.3rem;
        margin-bottom: 1.4rem;
  }
  
  .online-courses-title {
    font-size: 3.5rem;
    margin-bottom: 1.9rem;
    
  }
  
  .online-courses-btn {
    font-size: 1.2rem;
  }
}

@media (width > 1600px) { 
  .footer-left-column {
    padding-right:5vw;
  }
}
